/*
  update body grid to include new blocks.
  update progress bars to use proper colors.
  write rules for skill block and indevidule skills.
  fix style rules for buttons to be inline with rest of styles.
*/

:root {
    --black: #24283b;
    --blue: #7aa2f7;
    --cyan: #7dcfff;
    --green: #9ece6a;
    --orange: #ff9e64;
    --red: #db4b4b;
    --grey: #c0caf5;
    --purple: #9d7cd8;
    --pink: #ff007c;

    --xx-small: 1px;
    --x-small: 3px;
    --small: 5px;
    --medium: 7px;
    --large: 9px;
    --x-large: 11px;
    --xx-large: 14px;
}

body {
    background-color: var(--black);
    color: var(--grey);
    font-family: "Nova Mono", monospace;
    font-size: var(--x-large);
}

main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, 100%);
    grid-template-areas:
	"sd ab ab ab ab mb mb mb mb"
	"sd ab ab ab ab mb mb mb mb"
    ;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    border-bottom-width: var(--x-small);
    border-left-width: var(--xx-small);
    border-right-width: var(--xx-small);
    border-color: var(--purple);
    border-radius: var(--small);
    margin-bottom: var(--small)
}

article {
    display: none;
}

.show {
    display: block;
}

.horizontal_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
}

#main_block {
    grid-area: mb;
    border-top-style: solid;
    border-bottom-style: solid;
    border-radius: var(--x-small);
    border-color: var(--purple);
    border-top-width: var(--xx-small);
    border-bottom-width: var(--xx-small);
    margin: var(--small);
}

#side_bar {
    grid-area: sd;
    margin: var(--small);
    border-radius: var(--x-small);
    border-color: var(--purple);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-width: var(--xx-small);
    border-right-width: var(--xx-small);
    border-bottom-width: var(--xx-small);
}

#activity_block {
    grid-area: ab;
    border-style: solid;
    border-width: var(--xx-small);
    border-color: var(--purple);
    border-radius: var(--x-small);
    margin: var(--x-small);
}

.button {
    border-color: var(--purple);
    border-right-width: var(--xx-small);
    border-bottom-width: var(--xx-small);
    border-right-style: solid;
    border-bottom-style: dotted;
    padding-right: 5px;
    padding-bottom: 3px;
}

.button_active {
    border-color: var(--purple);
    border-right-width: var(--xx-small);
    border-bottom-width: var(--xx-small);
    border-right-style: solid;
    border-bottom-style: solid;
}

.skill_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10px, 100%);
    grid-template-areas:
	"nm nm lv"
	"pr pr pr"
    ;
    border-color: var(--grey);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.skill_name {
    grid-area: nm;
}

.skill_level {
    grid-area: lv;
    margin: auto;
}

.skill_progress {
    grid-area: pr;
}

#skills {
    max-width: fit-content;
    overflow: scroll;
    max-height: inherit;
}
